dex:
  enabled: false

notifications:
  enabled: false

applicationSet:
  enabled: false

server:
  extraArgs:
    - --insecure
  ingress:
    enabled: true
    controller: gke
  service:
    type: LoadBalancer
